<h1> Root Index </h1>
<%= "Current user: #{current_user.try(:email)}" %>

<div class="row">
  <div class="small-6 columns">
    Grid test
  </div>

  <div class="small-6 columns">
    Grid test 2
  </div>  


</div>
